mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container
			+e.img-wrap
				+pic("panda-cover.jpg")
			+e.slider-wrap()
				+e.slider--js(class="splide" role="group")
					.splide__track 
						.splide__list
							+e.slide.splide__slide
								h1  Свои люди в&nbsp;digital упаковке бизнеса
	// end headerBlock