mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container-fluid
			+e.img-wrap(data-image="img/panda-cover.jpg" data-displacement="img/4.png")
				//- img(src="img/@2x/panda-cover.jpg", alt="").res-i
				//- img(src="img/@2x/panda-cover.jpg", alt="")
			+e.slider-wrap()
				+e.slider--js(class="splide" role="group")
					.splide__track 
						.splide__list
							+e.slide.splide__slide
								h1  Свои люди в&nbsp;digital упаковке бизнеса
	// end headerBlock