// start .headerBlock
.headerBlock {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()}; 
	// min-height: 100vh;
	@include media-breakpoint-up(lg) {
		--max: calc(var(--vh, 1vh) * 100 - #{rem(187px + 108px + 80px)});
		margin-bottom: rem(80);
		height: var(--max);
		--sp-y: 5vh;
	}
	--sp-y: 18px;

	text-align: center;
	flex-grow: 1; 
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-items: center;
	@include media-breakpoint-up(lg) {
	}
	padding-top: var(--sp-y);
	// padding-top: calc(var(--sp-y) - 10px);
	padding-bottom: var(--sp-y);
	&__img-wrap{
		@include media-breakpoint-up(xxl) {
			max-width: 936px ;
		}
		@include media-breakpoint-up(lg) {
			max-width: 70%;
			max-height: calc(var(--max) -  var(--sp-y) * 2);
		}
		max-width: 100%;
		// height: 446px;
		width: auto;
		position: relative;
		z-index: 2;
		margin-left: auto;
		margin-right: auto;
		@include block(446, 936);
		// canvas,
		// img{
		// 	width: 100% !important;
		// 	height: 100% !important;
		// 	@include a-cent;
		// }
		canvas{
			position: absolute;
			left: 0;
			top: 0;
			// display: block;3
			aspect-ratio: auto 936 / 446;
			height: 100% ;
			// width: 100% !important;
			float: left;
			// display: inline-block;
			// display: inline-block;
			// height: 100%;
			// width: 100%;
		}
	}	
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	@include media-breakpoint-up(lg) {
	.swiper-wrapper{
		align-items: center;
	}

		&__slide{
			height: auto;
			width: auto;
		}
		&__slider-wrap{
			position: absolute;
			@include a-cent();
			display: flex;
			width: 100%;	
			// justify-content: center;
			align-items: center;
		}
		&__slider{
			width: 100%;
			pointer-events: none;
		}
	}
	h1{
		@extend .mono;
		@include media-breakpoint-up(lg){
			
			// @include rfs(96px);
			font-size: 96px;
			text-align: center;
			margin-top: 0;
		}
		margin-top: 26px;
		text-align: left;
		@include media-breakpoint-down(lg){
		@include rfs(48px);
		line-height: 1;
		}
		text-transform: uppercase;
		// white-space: nowrap;
	}
	@include media-breakpoint-down(lg) {

		.splide__slide{
			width: 100% !important;
		}
		.splide__slide--clone{
				display: none;
			}

			.splide__list{
				transform: none !important;
			}
		} 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock